*{
    margin:0;
    padding:0;
}

.parent{
    width:100%;
    height:auto;
}

.parent .main{
    width:1320px;
    height:auto;
    margin:0 auto;
}


.parent  header{
    width:100%;
    height:72.5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
}

.parent  header .main .in-head{
    width:100%;
    height:44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent  header .main .in-head .logo{
    width:10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent  header .main .in-head .logo h1{
    font-size: 30px;
    color:#5FCF80;
    font-family: Poppins;
    font-weight: 600;
    cursor: pointer;
}

.parent  header .main .in-head nav{
    width:70%;
    height:100%;
    margin-left: 7%;
}

.parent  header .main .in-head nav ul{
    width:75%;
    height:42.5px;
    float:right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parent  header .main .in-head nav ul li{
    width:70px;
    height:100%;
    list-style: none;
}

.parent  header .main .in-head nav ul li:hover a{
    color:#5FCF80;
}

.parent  header .main .in-head nav ul li a{
    color: #37423b;
    font-size: 15px;
    font-family: poppins;
    font-weight: 500;
    text-decoration: none;
    padding:10px 5px;
    display: flex;
}

.parent  header .main .in-head nav ul li:nth-child(7){
    width:110px;
    height:100%;
}

.parent  header .main .in-head nav ul li .drop-down{
    width:210px;
    height:250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    float:left;
    border-radius: 10px;
    display: none;
}

.parent  header  .main .in-head nav ul li:hover .drop-down{
    display: block;
}

.parent  header .main .in-head nav ul li .drop-down li{
    width:200px;
    height:42.5px;
}

.parent  header .main .in-head nav ul li .drop-down li a{
    color:#37423b;
}

.parent  header .main .in-head nav ul li .drop-down li .deep-drop-down{
    width:210px;
    height:250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left:102%;
    margin-top:-30%;
    border-radius: 10px;
    filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0,.5));
    /* display: none; */
    float: left;
}

/* .parent  header  .main .in-head nav ul li .drop-down li:hover .deep-drop-down{
    display: block;
} */


.parent  header .main .in-head nav ul li .drop-down li a{
    padding:10px 25px;
    color:#37423b;
}

.parent  header .main .in-head .btn{
    width:124.26px;
    height:37px;
    background-color: #5FCF80;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.parent  header .main .in-head .btn:hover{
    background-color: #3AC162;
}

.parent  header .main .in-head .btn p{
    font-size: 14px;
    color:white;
    font-family:Open Sans;
    font-weight: 500;
}

.parent .breadcrumb{
    width:100%;
    height:147.5px;
    background-color: #5FCF80;
    margin-top: 4.7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent .breadcrumb .ctn{
    width:1320px;
    height:87.9px;
}

.parent .breadcrumb .ctn h3{
    width:1297.5px;
    height:38.4px;
    text-align: center;
    font-size: 32px;
    font-family: raleway;
    font-weight: normal;
    color:white;
}

.parent .breadcrumb .ctn p{
    width:1297.5px;
    height:auto;
    font-size: 14px;
    font-family: Open Sans;
    color:white;
    text-align-last: center;
    margin-top: 7.5px;
}

.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}
.parent .main article{
    width:660px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
}

.parent .main article h3{
    font-size: 26px;
    font-family: raleway;
    color:#444;
    margin-bottom: 1rem;
    font-weight: 600;
}

.parent .main article p.one{
    color:#444;
    font-style: italic;
    font-size: 15px;
    font-family: Open Sans;
    margin-bottom: 1.5rem;
}


.parent .main article  li{
    width:100%;
    height:40px;
    font-size: 15px;
    font-family: Open Sans;
    color:#444;
}

.parent .main article p.two{
    color:#37423b;
    font-size: 15px;
    font-family: Open Sans;
    margin-top: 1.5rem;
}

.parent .main aside{
    width:637.5px;
    height:478.13px;
    float: left;
    margin-top: 60px;
    margin-left: 11.25px;
    background-image: url('images/about.jpg');
    background-size: 100% 100%;
}

.parent section{
    width:100%;
    height:174.5px;
    background-color: #F6F7F6;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
}

.parent section .col{
    width:330px;
    height:114.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parent section .col span{
    font-size: 48px;
    color:#5FCF80;
    font-family: Open Sans;
    font-weight:700;
}

.parent section .col p{
    font-weight: 600;
    color:#37423b;
    font-family: raleway;
}